  
<article class="post">
    <div class="row">
        <div class="col-11">
            <div class="title">
                <a href="/post/{{id}}">{{title}}</a>
            </div>
        
            <div class="meta about-section">
        
                By {{user.username}} on
                {{format_date created_at}}
                |
                <a href="/post/{{id}}"> {{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </div>
    </div>
</article>